<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/raspisanie.css' %}">
    <title>{{group_name.group}}</title>
  </head>
  <body>
    <center><h1>Ваше расписание на сегодня</h1>
    <div class="raspis" style="float: none;">
      {% for para in raspis %}

      <div class="para">
        <p>{{para.pair_number.pair_start}} - {{para.pair_number.pair_end}}</p>
        <p>{{para.discipline}}</p>
        <p>{{para.teacher}}</p>
        <p>{{para.auditory}}</p>
      </div>
      {% endfor %}
    </div>
  </center>
  <div class="ssilki">
    <a href="{% url 'view_raspis' group_name.group.pk %}">Вернуться на страницу с парами</a>
  </div>
  </body>
</html>
