{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/raspisanie.css' %}">
    <meta charset="utf-8">
    <title>{{group.group_name}}</title>
  </head>
  <body>
    <center><h1>Страница с заменами</h1></center>
    <center><div class="raspis" style="float: none">
      {% for para in zamena %}
        <div class="para">
          <p>{{para.date_of_change}}</p>
          <p>{{para.discipline}}</p>
          <p>{{para.teacher}}</p>
          <p>{{para.pair_number.pair_start}} - {{para.pair_number.pair_end}}</p>
        </div>
      {% endfor %}
    </div>
  </center>
    <div class="ssilki">
      <a href="{% url 'view_raspis' group.pk %}">Вернуться на страницу с парами</a>
    </div>

  </body>
</html>
